################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PeopleProTraining/.vs/PeopleProTraining/v15
/.vs
